:root {
    --celestial-blue: #1992D4ff;
    --alice-blue: #E2E8F0ff;
    --white: #FFFFFFff;
}

body {
    margin: 0px;
}

.sidebar,
.header {
    padding-top: 8px;
}

.screen {
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template: 0.6fr 4fr / 1fr 5fr;
}

/*HEADER*/


.header {
    max-height: 180px;
    grid-area: 1 / 2 / 2 / 3;
    padding: 0px 16px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header>.top {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 6fr 3fr;
}

.header>.top>img {
    margin: auto;
}

.header>.top>input {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: min(35rem, 40vw);
    padding: 8px;
    border-radius: 4px;
    border: 0px;
    background-color: var(--alice-blue);
}

.header>.top>.user_config {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 8px;
}

.header>.top>.user_config>.name {
    font-weight: bold;
}

.header>.top>.user_config>* {
    margin: auto;
}


.header>.bottom {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.header>.bottom>.user {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

.header>.bottom>.user>img {
    margin: auto;
    padding-left: 8px;
}

.header>.bottom>.user>div>.user_text_greeting {
    font-size: 1rem;
    font-weight: bold;
}

.header>.bottom>.user>div>.user_text_name {
    font-size: 1.2rem;
    font-weight: bolder;
}


.header>.bottom>.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: max(1rem, 1rem + 1vw);
    margin: auto;

}

.header>.bottom>.buttons>button {
    padding: 12px min(1rem + 0.5vw, 2vw);
    background-color: var(--celestial-blue);
    border: 0px;
    border-radius: 1rem;
}

/*SIDEBAR*/

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--celestial-blue);
}

/*CONTENT*/

.projectTitle {
    padding-left: 1rem;
}

.projectText {
    padding-left: 1rem;
    text-align: start;
}

.content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 1fr 1fr / 8fr 3fr;
    background-color: var(--alice-blue);
}

.content>.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.content>.projects>.allProjects {
    display: grid;
    padding: 1rem;
    padding-top: 0px;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.content>.projects>.allProjects>.singleProject {
    min-height: 25vh;
    background-color: white;
    border-radius: 8px;
}

.title {
    padding: 16px;
    font-size: 1.2rem;
    font-weight: bold;
}


/*Announcements*/

.content>.announcements {
    padding: 16px;
}


.content>.announcements>.announcements_text {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 16px 0px;
}

.content>.announcements>.all_announcements {
    border-radius: 8px;
    background-color: var(--white);
    display: grid;
    grid-template: repeat(3, 1fr)/ 1fr;
    padding: 16px;
    row-gap: 8px;
}

.content>.announcements>.all_announcements {
    border-radius: 8px;
    background-color: var(--white);
    display: grid;
    grid-template: repeat(3, 1fr)/ 1fr;
    padding: 16px;
    row-gap: 8px;
}

.content>.announcements>.all_announcements:last-child{
    padding-bottom: 0px;
}

.content>.announcements>.all_announcements>.one_announcement>.announ_title {
    font-size: 0.8rem;
    font-weight: bold;
}

.content>.announcements>.all_announcements>.one_announcement>.announ_text {
    font-size: 0.8rem
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*Trending*/

.trending{
    padding-left: 8px;
    padding-right: 16px;
    
}

.trending_user_information{
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.trending_text{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 16px 0px;
}

.trending_div{
    border-radius: 8px;
    background-color: var(--white);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 16px;
}

.trending_users{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 12px;
    padding: 8px 0px;
}

.trending_username{
    font-weight: bold;
}